@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  /* font-family: 'Roboto', sans-serif; */
}

/* color */
/* color:#BEDBB0 */
/* color:#5255BC */
/* textcolor: fff */
/* darkthem:161616 */

/* Стилі для обнуленя верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуленя базових властивостей у списків (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуленя базових властивостей у посилань */
.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 375px) {
    width: 375px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
