/* {({ theme }) => theme.color.accent} */
.css-1yllih9-MuiPaper-root-MuiPickersPopper-paper {
  background-color: var(--bgColor) !important;
  border: 1px solid var(--lightBlack) !important;
  border-radius: 10px !important;
  color: var(--textColor) !important;
}

.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  color: var(--textColor) !important;
}

.css-nk89i7-MuiPickersCalendarHeader-root {
  color: var(--textColor) !important;
  border-bottom: 1px solid var(--lightBlack) !important;
}

.css-1vooibu-MuiSvgIcon-root {
  fill: var(--textColor) !important;
}

.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root {
  color: var(--textColor) !important;
}

.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root {
  background-color: var(--lightBlack) !important;
  color: var(--textColor) !important;
}

.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: var(--accentColor) !important;
  color: var(--activeTextColor) !important;
}
